body {}

.header-grid-container {

    display: grid;
    grid-template-columns: 1fr;
    height: 600px;
    width: auto;
    background-image: url(../images/desktop/image-hero.jpg);
}

#navbar {

    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 15px 20px;
    padding-top: 30px;
    justify-content: center;
}

#navbar, #logo {

    align-items: center;
    justify-content: start;

}

#navbar, #navigation_list {

    align-items: center;
    justify-content: right;
    gap: 350px;
    margin-right: 90px;
}


#navbar ul li {

    list-style-type: none;
    display: inline-block;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    color: white;
    font-weight: bold;
}

#header_immersive_text {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 60px;
    border: 2px white solid;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 800px;
    margin-bottom: 170px;
    padding: 20px;
}

#middleSection1 {

    /* background-color: transparent; */
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding-top: 30px;
    justify-content: center;

}

#vr_glassespic {

    margin-top: 150px;
    margin-left: -370px;
    margin-bottom: 150px;
    position: relative;

}

#middleSection1_white {

    position: absolute;
    background-color: white;
    width: 580px;
    height: 320px;
    margin-top: 330px;
    margin-right: -650px;
}

#interactive_text {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(11, 11, 11);
    font-size: 42px;
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 170px;
    padding: 20px;
}

#interactive_para {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(103, 99, 99);
    margin-top: -180px;
    margin-left: 110px;
    margin-bottom: 50px;
}

#middleSection2 {

    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

#innerSection {

    display: grid;
    grid-template-rows: auto auto;
    row-gap: 16px;
    margin-left: 250px;
    margin-right: 250px;
    border: 1px rgb(255, 0, 221) solid;
}

.middleSection2-grid-container1 {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    height: 80px;
    gap: 300px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
    /* padding-left: 100px; */
    /* padding-right: 100px; */

}


.item1 {
    color: white;
    display: felx;
    flex-flow: row;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(11, 11, 11);
    font-size: 42px;
    margin-top: 20px;
    margin-left: 0px;
    align-items: center;


}

.item2 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
    margin-left: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(11, 11, 11);
    font-size: 22px;
    border: 2px black solid;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 45px;
    padding-right: 65px;



}

.middleSection2-grid-container2 {

    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 70px;
    background-color: white;
}

#innerSection2 {

    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 0;
    margin-right: 50px;
    margin-top: 0px;
}

.row {

    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    column-gap: 66px;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.column {

    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 450px;
    border: 2px orange solid;
    position: relative;

}

.imgStyle {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

#imageTxt {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;
    padding-left: 50px;
    padding-bottom: 90px;
    font-size: 25px;

}